#left-article {
  border: 1px solid #b0e8b4;
  background-color: #eff9f0;
  padding: 10px;
}
#left-article h2 {
  border: 1px solid #939b94;
  background-color: #a9ceab;
}
#left-article img {
  float: left;
  padding-right: 10px;
}
#dishImg {
  float: right;
}
#bear {
  font-style: italic;
  font-weight: bold;
}

#right-article {
  border: 1px solid #78afd3;
  background-color: #edf7ff;
  padding: 10px;
}
#right-article h2 {
  border: 1px solid #939b94;
  background-color: #a6c4d8;
}

#purple-article {
  border: 1px solid #d2bcd6;
  background-color: #f7e5fc;
  padding: 10px;
}

#purple-article h2 {
  border: 1px solid #939b94;
  background-color: #d2bcd6;
}

#purple-article img {
  margin-right: 10px;
}

#centerParagraph {
    padding: 50px 0;
}

#right-article h2, #left-article h2, #purple-article h2 {
  padding: 10px;
  margin-top: 0px;
}

.arTitle {
  font-size: 16px;
  font-weight: bold;
}

.bottomBr {
  padding-bottom: 2px;
  border-bottom: 1px solid #a5a5a5;
  font-family: "Times New Roman";
  font-size: 25px;
}

#logo {
  margin: 25px 0;
}

#header {
  padding: 10px 10px 10px 0px;
}

#sections {
  border: 1px solid #89b3ed;
  padding: 15px;
}

#right-bar {
  margin-left: 35%;
}

#footer {
  padding: 30px;
}
